fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
langchain
chromadb
python-multipart
pypdf
PyPDF2
langchain-text-splitters

# Gemini (Google Generative AI) integrations
langchain-google-genai
google-generativeai